.header {
  @apply bg-white;
}

.nav {
  @apply mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8;
}

.logo {
  @apply flex lg:flex-1;
}

.logoContainer {
  @apply flex items-center gap-2;
}

.logoContainer p {
  @apply text-sm font-medium text-gray-700;
}

.logoLink {
  @apply -m-1.5 p-1.5;
}

.name {
  @apply sr-only;
}

.logoImage {
  @apply h-8 w-auto;
}

.menu {
  @apply flex lg:hidden;
}

.menuButton {
  @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700;
}

.menuIcon {
  @apply size-6;
}

.navLinks {
  @apply hidden lg:flex lg:gap-x-12;
}

.link {
  @apply text-sm font-semibold text-gray-900;
}

.authLinks {
  @apply hidden lg:flex lg:flex-1 lg:justify-end gap-x-6;
}

.dialog {
  @apply lg:hidden;
}

.d {
  @apply fixed inset-0 z-10;
}

.dialogPanel {
  @apply fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10;
}

.dialogPanelHeader {
  @apply flex items-center justify-between;
}

.dialogPanelButton {
  @apply -m-2.5 rounded-md p-2.5 text-gray-700;
}

.dialogLinksContainer {
  @apply mt-6 flow-root;
}

.dialogLinks {
  @apply -my-6 divide-y divide-gray-500/10;
}

.pagesLinks {
  @apply space-y-2 py-6;
}

.dialogLink {
  @apply block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50;
}

.dialogAuthLinks {
  @apply py-6;
}

.dialogAuthLink {
  @apply block rounded-lg px-3 py-2.5 text-base font-semibold text-gray-900 hover:bg-gray-50;
}

/* Home */
.home {
  @apply flex flex-col items-center justify-center min-h-screen space-y-4;
}

.homeHeader {
  @apply text-3xl font-bold;
}
